﻿

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.left {
    float: left;
}

.right {
    float: right;
}

.margin-left-4 {
    margin-left: 4px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-12 {
    margin-left: 12px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-right-12 {
    margin-right: 12px;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-12 {
    margin-top: 12px;
}

.width-100-percent {
    width: 100%;
}

.pointer {
   cursor: pointer
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.text-box { width: 100%}

/*@*// Ash stat css *@*/ 

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
 /*@*Ash End css*@*/


@media (max-width: 62em) {
    .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }

    .navbar-nav .nav-item {
        float: none;
    }

    .navbar-brand {
        float: right;
    }

    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }

    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .dropdown-menu {
        position: relative;
        float: none;
    }
}

.row {
    margin-bottom: 2%;
}

.display-none {
    display: none;
}

.table-font-size-12 {
    font-size: 12px !important;
}

.dt-buttons {
    float: right;
}

/*.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

/*.loader {
    position: relative;
    left:50%;
    margin-top:100px;
    background:lightgrey;
    z-index:10000000;
    width: 125px;
    height: 125px;
    -webkit-animation: crabbly_spinner infinite .75s linear;
    -moz-animation: crabbly_spinner infinite .75s linear;
    -o-animation: crabbly_spinner infinite .75s linear;
    animation: crabbly_spinner infinite .75s linear;
    border: 2px solid rgba(125, 125, 125, 0.9);
    border-top-color: rgba(0, 0, 0, .1);
    border-right-color: rgba(0, 0, 0, .1);
    border-bottom-color: rgba(0, 0, 0, .1);
    border-radius: 100%;
}

@keyframes crabbly_spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}*/

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}
/*button {
    margin: 40px;
    padding: 5px 20px;
    cursor: pointer;
}*/
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




