﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/default/style.min.css")" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />*@
<script src="@Url.Content("~/Scripts/jstree.min.js")"></script>
@*<link href="~/Content/themes/default/style.min.css" rel="stylesheet" />*@

@Html.Hidden("hdnBackToDashboard", Href("~/dashboard/index"))

<style>
    label {
        float: right;
    }

    select {
        min-width: 400px;
    }

    .accordion-section {
        background-color: #006699; /*lightgrey;#2980B9 #45B39D*/
        color: #444;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        margin-bottom: 8px;
        color: white;
    }

        .active, .accordion-section:hover {
            background-color: #006699; /*#ccc;#F4F6F7; #5276e4*/
        }

    .accordion-panel {
        padding: 0 18px;
        display: block;
        background-color: #fff; /*#eee;*/
        overflow: hidden;
        margin-bottom: 10px;
    }


    .customlist {
        background-color: #fff;
        border: 1px solid #999;
        height: 200px;
        overflow: auto;
        box-shadow: 0px 5px 5px #dfdfdf;
    }

        .customlist .tile {
            padding: 5px;
            margin: 5px 0;
            opacity: 0.75;
            border: 2px solid transparent;
            text-align: center;
            cursor: pointer;
        }

            .customlist .tile.selected {
                opacity: 1;
                border: 2px solid #E74C3C;
            }

        .customlist table {
            width: 100%;
        }

            .customlist table td {
                padding: 5px;
            }

            .customlist table tr {
                cursor: pointer;
            }

                .customlist table tr:hover {
                    background-color: #eee;
                }

                .customlist table tr.selected .fa-check {
                    color: #E74C3C;
                }

        .customlist ul {
            list-style-type: none;
            padding-left: 0;
            margin-left: -15px;
            margin-right: -15px;
        }

            .customlist ul li {
                padding: 5px;
                cursor: pointer;
                border-bottom: 1px solid #ddd;
            }

                .customlist ul li .fa {
                    /*padding-right: 10px;*/
                    float: right;
                    color: #000;
                }

                .customlist ul li.selected .fa {
                    color: #fff;
                }

                .customlist ul li .fa-ok {
                    color: #fff;
                    float: none;
                    padding-right: 10px;
                }

                .customlist ul li small {
                    display: block;
                }

                .customlist ul li:hover {
                    background-color: #eee;
                }

                .customlist ul li.selected {
                    background-color: #E74C3C;
                    font-weight: bold;
                    color: #fff;
                }
</style>
<div class="card" style="margin: 1%;">
    <form>
        <button class="accordion-section">
            Account Tree
            <a style="color: white; float: right;" href="@Url.Content("~/Account/AccountDetails")">
                <u>Account Details</u>
                <i class="fa fa-angle-double-down fa-2x" style="float: right; color: white;margin-left : 10px;"></i>
            </a>
        </button>
        <div class="accordion-panel">
            <div class="card" style="margin: 0%;">
                <div class="card-body">
                    <div class="form-row" style="">
                        <div class="col-md-3">
                            <div id="jstree-tree"></div>
                            <div id="jstree-result">result</div>
                        </div>

                        <div class="col-md-9">
                            <form id="accountForm">
                                <div class="card" style="">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="AccountNo">Account Number</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control text-box single-line" disabled data-val="true" data-val-number="The field Account Number must be a number." data-val-required="The Required field is empty" id="AccountNo" name="AccountNo" type="number" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="AccountNo" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="OpenDt">Open Date</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input placeholder="MM/dd/yyyy" class="form-control text-box single-line" data-val="true" data-val-date="The field Open Date must be a date." data-val-required="The Required field is empty" id="OpenDt" name="OpenDt" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="OpenDt" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="VIPNo">VIP Number</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field VIP Number must be a number." id="VIPNo" name="VIPNo" type="number" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="VIPNo" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="BranchID">Branch</label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="BranchID" data-val-maxlength="Please select role" name="BranchID"></select>
                                                @*<input class="form-control text-box single-line" data-val="true" data-val-number="The field Branch must be a number." data-val-required="The Required field is empty" id="BranchID" name="BranchID" type="number" value="">*@
                                                <span class="field-validation-valid text-danger" data-valmsg-for="BranchID" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="CloseDt">Close Date</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input placeholder="MM/dd/yyyy" class="form-control text-box single-line" data-val="true" data-val-date="The field Close Date must be a date." id="CloseDt" name="CloseDt" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="CloseDt" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="Notes">Notes</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control text-box single-line" id="Notes" name="Notes" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <br />
                                        <div style="border: #A9A9A9 solid 0.1px;">
                                            <p style="color: white;background-color: #5b6467;background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);height: 30px;padding: 2px 0 0 10px;"><u>Select Currency</u></p>
                                            <div id="currency">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button class="accordion-section">
            Client
            <i class="fa fa-angle-double-down fa-2x" style="float: right; color: white;"></i>
        </button>
        <div class="accordion-panel">
            <div class="card" style="margin: 1%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="ClientID">Select Client</label>
                        </div>
                        <div class="col-md-4">
                            <select id="ClientID" data-val-maxlength="Please select role" name="ClientID"></select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="ClientID" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-2">
                            <label for="ClientName">Client Name</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Client Name field is required." id="ClientName" name="ClientName" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="ClientName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-2">
                            <label for="Address">Address</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Address field is required." id="Address" name="Address" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                        </div>

                        <div class="col-md-2">
                            <label for="CityID">City</label>
                        </div>
                        <div class="col-md-4">
                            <select id="CityID" data-val-maxlength="Please select City" name="CityID"></select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="CityID" data-valmsg-replace="true"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="Mobile">Mobile</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="Mobile" name="Mobile" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Mobile" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-2">
                            <label fosr="PersonOrCorp">Personal Or Corp</label>
                        </div>
                        <div class="col-md-4">
                            <select id="PersonOrCorp" data-val-maxlength="Please select Person Or Corp" name="PersonOrCorp"></select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="PersonOrCorp" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row float-right">
                        <input type="button" value="Cancel" id="btnClientCancel" class="btn btn-secondary float-right mx-2" />
                        <input type="button" value="Add" id="btnClientSubmit" class="btn btn-primary float-right mx-2" />
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion-section">
            Beneficiary
            <i class="fa fa-angle-double-down fa-2x" style="float: right; color: white;"></i>
        </button>
        <div class="accordion-panel">
            <div class="card" style="margin: 1%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="BeneficiaryID">Select Beneficiary</label>
                        </div>
                        <div class="col-md-4">
                            <select id="BeneficiaryID" data-val-maxlength="Please select role" name="BeneficiaryID"></select>
                            @*<input class="form-control text-box single-line" data-val="true" data-val-number="The field Beneficiary Name must be a number." id="BeneficiaryID" name="BeneficiaryID" type="number" value="">*@
                            <span class="field-validation-valid text-danger" data-valmsg-for="BeneficiaryID" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-2">
                            <label for="BeneficiaryName">Beneficiary Name</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Address field is required." id="BeneficiaryName" name="BeneficiaryName" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="BeneficiaryName" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label for="BAddress">Address</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Address field is required." id="BAddress" name="BAddress" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="BAddress" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-2">
                            <label for="BCityID">City</label>
                        </div>
                        <div class="col-md-4">
                            <select id="BCityID" data-val-maxlength="Please select City" name="BCityID"></select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="BCityID" data-valmsg-replace="true"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="BMobile">Mobile</label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="BMobile" name="BMobile" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="BMobile" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-md-2">
                            <label fosr="BPersonOrCorp">Personal Or Corp</label>
                        </div>
                        <div class="col-md-4">
                            <select id="BPersonOrCorp" data-val-maxlength="Please select Person Or Corp" name="BPersonOrCorp"></select>
                            <span class="field-validation-valid text-danger" data-valmsg-for="BPersonOrCorp" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row float-right">
                        <input type="button" value="Cancel" id="btnBeneficiaryCancel" class="btn btn-secondary float-right mx-2" />
                        <input type="button" value="Add" id="btnBeneficiarySubmit" class="btn btn-primary float-right mx-2" />
                    </div>
                </div>
            </div>
        </div>
        <button class="accordion-section">
            Authorized
            <i class="fa fa-angle-double-down fa-2x" style="float: right; color: white;"></i>
        </button>
        <div class="card" style="margin: 1%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="AuthorizedID">Select Authorized</label>
                    </div>
                    <div class="col-md-4">
                        <select id="AuthorizedID" data-val-maxlength="Please select role" name="AuthorizedID"></select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="AuthorizedID" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="Authorized">Authorized</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control text-box single-line" data-val="true" data-val-required="The Address field is required." id="Authorized" name="Authorized" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Authorized" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label for="AAddress">Address</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control text-box single-line" data-val="true" data-val-required="The Address field is required." id="AAddress" name="AAddress" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="AAddress" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-md-2">
                        <label for="ACityID">City</label>
                    </div>
                    <div class="col-md-4">
                        <select id="ACityID" data-val-maxlength="Please select City" name="ACityID"></select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="ACityID" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="AMobile">Mobile</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="AMobile" name="AMobile" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="AMobile" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-md-2">
                        <label fosr="APersonOrCorp">Personal Or Corp</label>
                    </div>
                    <div class="col-md-4">
                        <select id="APersonOrCorp" data-val-maxlength="Please select Person Or Corp" name="APersonOrCorp"></select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="APersonOrCorp" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row float-right">
                    <input type="button" value="Cancel" id="btnAuthorizeCancel" class="btn btn-secondary float-right mx-2" />
                    <input type="button" value="Add" id="btnAuthorizeSubmit" class="btn btn-primary float-right mx-2" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form-group">
    <div class="col-md-12">
        @*<span class="spinner-border spinner-border-sm"></span>*@
        <input type="button" value="Add" id="btnAccountSubmit" class="btn btn-primary float-right mx-2" />
        <input type="button" value="Edit" id="btnAccountUpdate" class="btn btn-primary float-right mx-2" />
        <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary float-right mx-2" />
        <input type="button" value="Close" id="btnClose" class="btn btn-secondary float-right" />
    </div>

</div>
<script>
    var acc = document.getElementsByClassName("accordion-section");
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            debugger;
            this.childNodes[1].remove();
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
                this.innerHTML += '<i class="fa fa-angle-double-down fa-2x" style="float: right; color: white;"></i>';
            } else {
                panel.style.display = "block";
                this.innerHTML += '<i class="fa fa-angle-double-up fa-2x" style="float: right; color: white;"></i>';
            }
        });
    }
</script>




<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/account.js")"></script>
