﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="branchDetailsForm">
    <div class="card" style="margin:1%">
        <div class="card-header bg-warning">
            <i class="fa fa-users"></i>   Account Details
            <a style="text-decoration: underline;color:Blue" class="right" href='@Url.Content("~/Account/AccountIndex")'><i style="color: black;margin-right: 4px;font-size: 20px;" class="fa fa-user-plus"></i>Add Client</a>
        </div>
        <div class="card-body">
            <div style="border: 1px solid black; padding: 3px;">
                <table id="datatable" class="table table-striped table-bordered table-font-size-12" style="width: 100%">
                    <thead style="color: white" class="bg-primary">
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Account Number</th>
                            <th>Account Type</th>
                            <th>Branch</th>
                            <th>Client</th>
                            <th>Open Date</th>
                            <th>VIP Number</th>
                            <th>Beneficiary</th>
                            <th>Authorized</th>
                            <th>Notes</th>
                            <th>Close Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard'
                },
                'excel',
                'pdf'
            ],
            columns: [
                {
                    "data": "AccountID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a style="font-size:20px;padding:16px" href="@Url.Content("~/Account/AccountIndex?accountId=")' + data + '"><i style="font-size:20px" class="fa fa-edit"></a>'; //' + data + '
                        }
                        debugger;
                        return data;
                    }
                },
                {
                    "data": "AccountID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a id="btnBranchDelete" style="font-size:20px; padding:16px" onClick=accountDelete('+data+')><i class="fa fa-trash"></a>'; //' + data + '
                        }

                        return data;
                    }
                },
                { 'data': 'AccountNo' },
                { 'data': 'AccountType' },
                { 'data': 'BranchName' },
                { 'data': 'ClientName' },
                { 'data': 'OpenDt' },
                { 'data': 'VIPNo' },
                { 'data': 'Beneficiary' },
                { 'data': 'Authorized' },
                { 'data': 'Notes' },
                { 'data': 'CloseDt' }
                //,
                //{ 'data': 'SignImage' }

            ],

            select: true,
            "language": {
                "emptyTable": "There are no records at present.",
                "zeroRecords": "There were no matching records found."
            },
            "searching": false,
            "ordering": true,
            "processing": true,
            "serverSide": false,
            ajax: {
                url: baseAddressEndPoint() + '/api/accountapi/get', dataSrc: '', "headers": {
                    "Authorization": 'bearer' + ' ' + sessionStorage["accessToken"]
                }
            }
        });

        $('#datatable_length').hide();
    });
    function accountDelete(id) {
        debugger;
        var r = confirm("Are you sure want to delete!");
        if (r == true) {
            var onDeleteCallBack = jqxhr('delete', 'api/accountApi/delete?id=' + id);
            onDeleteCallBack.done(function (response) {
                alert('Deleted Successfully');
                window.location.reload();
            });
        } else {

        }
    }
</script>

