﻿


@model List<CoreBankingSystem.UI.Controllers.SiteMenu>

@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /*Here We will add some css for style our treeview*/
    .collapse {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .expand {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
    }

        .treeview li a {
            padding: 4px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }
</style>
<h2>Simple Treeview from Database Data</h2>
<div style="border:solid 1px black; padding:10px; background-color:#FAFAFA">
    <div class="treeview">
        @if (Model != null && Model.Count() > 0)
        {
            <ul>
                @GetTreeView(Model, Model.FirstOrDefault().ParentMenuID)
            </ul>
        }
    </div>
</div>

@* Here We need some Jquery code for make this treeview collapsible *@
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul
            $(".collapsible").click(function (e) {
                e.preventDefault();
                $(this).toggleClass("collapse expand");
                $(this).closest('li').children('ul').slideToggle();
            });
        });
    </script>
}


@helper GetTreeView(List<CoreBankingSystem.UI.Controllers.SiteMenu> siteMenu, int parentID)
    {
        foreach (var i in siteMenu.Where(a => a.ParentMenuID.Equals(parentID)))
        {
            <li>
                @{var submenu = siteMenu.Where(a => a.ParentMenuID.Equals(i.MenuID)).Count();}
                @if (submenu > 0)
                {
                    <span class="collapse collapsible">&nbsp;</span>
                }
                else
                {
                    <span style="width:15px; display:inline-block">&nbsp;</span>
                }
                <span>
                    <a class="fa fa-caret-right" href="#">@i.MenuName</a>
                </span>
                @if (submenu > 0)
                {
                    <ul>
                        @GetTreeView(siteMenu, i.MenuID)
                        @* Recursive  Call for Populate Sub items here*@
                    </ul>
                }
            </li>
        }
}


