﻿
@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>

<div class="container">
    <div class="row">
        <div id="jstree-tree" class="well col-sm-3"></div>
        <div id="jstree-result" class="col-sm-6">this is result</div>
        
    </div>
</div>
<script>
    var jsonData = [
        {
            id: 1,
            text: "Assets",
            state: {
                selected: false
            },
            children: [
                {
                    id: 1.1,
                    text: "Fixed Assets",
                    state: {
                        selected: false
                    },
                    children: [
                        {
                            id: 1.2,
                            text: "Land",
                            state: {
                                selected: false
                            }
                        },
                        {
                            id: 1.3,
                            text: "Building",
                            state: {
                                selected: false
                            }
                        },
                        {
                            id: 1.4,
                            text: "Property Rights",
                            state: {
                                selected: false
                            }
                        }
                    ]
                },
                {
                    id: 6,
                    text: "Movable Assets",
                    state: {
                        selected: false
                    }
                }
            ]
        },
        {
            id: 7,
            text: "Liability",
            state: {
                //selected: true
            },
            children: []
        },
        {
            id: 8,
            text: "Expense",
            state: {
                selected: true
            },
            children: []
        },
        {
            id: 9,
            text: "Revenue",
            state: {
                //selected: true
            },
            children: []
        }

    ];

    $('#jstree-tree')
        .on('changed.jstree', function (e, data) {
            var objNode = data.instance.get_node(data.selected);
            $('#jstree-result').html('Selected: <br/><strong>' + objNode.id + '-' + objNode.text + '</strong>');
        })
        .jstree({
            core: {
                data: jsonData
            }
        });
</script>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>*@
