﻿    @{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="branchDetailsForm">
    <div class="card" style="margin:1%" onload="onClientFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-users"></i>   Client Details
            <a style="text-decoration: underline;color:Blue" class="right" href='@Url.Content("~/Client/ClientIndex")'><i style="color: black;margin-right: 4px;font-size: 20px;" class="fa fa-user-plus"></i>Add Client</a>
        </div>
        <div class="card-body">
            <div style="border: 1px solid black; padding: 3px;">
                <table id="datatable" class="table table-striped table-bordered table-font-size-12" style="width: 100%">
                    <thead style="color: white" class="bg-primary">
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            @*<th>BranchID</th>*@
                            <th>Full Name</th>
                            <th>Address</th>
                            <th>CityID</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>Fax</th>
                            <th>PersonOrCorp</th>
                            <th>GuarantorID</th>
                            <th>PrivilegeID</th>
                            <th>Notes</th>
                            @*<th>SignImage</th>*@

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard'
                },
                'excel',
                'pdf'
            ],
            columns: [
                {
                    "data": "ClientID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a style="font-size:20px;padding:16px" href="@Url.Content("~/Client/ClientIndex?clientId=")' + data + '"><i style="font-size:20px" class="fa fa-edit"></a>'; //' + data + '
                        }
                        return data;
                    }
                },
                {
                    "data": "ClientID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a id="btnBranchDelete" style="font-size:20px; padding:16px"><i class="fa fa-trash"></a>'; //' + data + '
                        }

                        return data;
                    }
                },
                { 'data': 'FullName' },
                { 'data': 'Address' },
                { 'data': 'CityName' },
                { 'data': 'Phone' },
                { 'data': 'Mobile' },
                { 'data': 'Fax' },
                { 'data': 'PersonOrCorp' },
                { 'data': 'GuarantorFullName' },
                { 'data': 'PrivilegeFullName' },
                { 'data': 'Notes' }
                //,
                //{ 'data': 'SignImage' }

            ],

            select: true,
            "language": {
                "emptyTable": "There are no records at present.",
                "zeroRecords": "There were no matching records found."
            },
            "searching": false,
            "ordering": true,
            "processing": true,
            "serverSide": false,
            ajax: {
                url: baseAddressEndPoint() + '/api/clientapi/get', dataSrc: '', "headers": {
                    "Authorization": 'bearer' + ' ' + sessionStorage["accessToken"]
                }
            }
        });

        $('#datatable_length').hide();
        $('#btnBranchDelete').click(branchDelete);
    });
    function branchDelete() {
        alert('delete');
    }
</script>
