﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="currencyDetailsForm">
    <div class="card" style="margin:1%" onload="onRegistrationFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-users"></i>   Currency Details
            <a style="text-decoration: underline;color:Blue" class="right" href='@Url.Content("~/Currency/CurrencyIndex")'><i style="color: black;margin-right: 4px;font-size: 20px;" class="fa fa-user-plus"></i>Add Currency</a>
        </div>
        <div class="card-body">
            <div style="border: 1px solid black; padding: 3px;">
                <table id="datatable" class="table table-striped table-bordered table-font-size-12" style="width: 100%">
                    <thead style="color: white" class="bg-primary">
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Name</th>
                            <th>Short Name Arabic</th>
                            <th>Short Name Ennglish</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard'
                },
                'excel',
                'pdf'
            ],
            columns: [
                {
                    "data": "CurrencyID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a style="font-size:20px;padding:16px" href="@Url.Content("~/Currency/CurrencyIndex?currencyId=")' + data + '"><i style="font-size:20px" class="fa fa-edit"></a>'; //' + data + '
                        }
                        debugger;
                        return data;
                    }
                },
                {
                    "data": "CurrencyID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a id="btnCurrencyDelete" style="font-size:20px; padding:16px"><i class="fa fa-trash"></a>'; //' + data + '
                        }

                        return data;
                        debugger;
                    }
                },
                { 'data': 'Name' },
                { 'data': 'ShortNameAr' },
                { 'data': 'ShortNameEn' },
                { 'data': 'Notes' }
               
            ],
           
            select: true,
            "language": {
                "emptyTable": "There are no records at present.",
                "zeroRecords": "There were no matching records found."
            },
            "searching": false,
            "ordering": true,
            "processing": true,
            "serverSide": false,
            ajax: {                
                url: baseAddressEndPoint() + '/api/currencyapi/get', dataSrc: '', "headers": {
                    "Authorization": 'bearer' + ' ' + sessionStorage["accessToken"]
                }
            }
        });

        $('#datatable_length').hide();
        $('#btnCurrencyDelete').click(currencyDelete);
    });
    function currencyDelete() {
        alert('delete');
    }
</script>
