﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="CurrencyForm">
    <div class="card" style="margin:2%">
        @*<div class="card-header bg-warning">
                <i class="fa fa-chain"></i>   Currency Information
            </div>*@
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Currency Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Currency/CurrencyDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Currency Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="Name">Currency Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="Name" name="Name" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="ShortNameAr">Short Name Arabic</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="ShortNameAr" name="ShortNameAr" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="ShortNameAr" data-valmsg-replace="true"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="Phone">Short Name English</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="ShortNameEn" name="ShortNameEn" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="ShortNameEn" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Fax">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Notes" name="Notes" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-12">

                <input type="button" id="btnCurrencySave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnCurrencyEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnCurrencyReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnCurrencyClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/App/currency.js"></script>

<div id="dlg"></div>