﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="agentAreaForm">
    <div class="card" style="margin:2%">
       
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Agent Area Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/AgentAreaDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Agent Area Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="AreaNo">Area Number</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Area Number must be a number." data-val-required="The Required field is empty" id="AreaNo" name="AreaNo" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="AreaNo" data-valmsg-replace="true"></span>
                </div>

                <div class="col-md-2">
                    <label for="BranchName">Area Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="AreaName" name="AreaName" type="text" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="AreaName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="AgentID">Agent ID </label>
                </div>
                <div class="col-md-4">
                    <select id="AgentID" data-val="true" data-val-maxlength="Please select role" data-val-required="The Required field is empty" name="AgentID"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="AgentID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="CityID">CityID</label>
                </div>
                <div class="col-md-4">
                    <select id="CityID" data-val-maxlength="Please select City ID" name="CityID"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="CityID" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="TranactionTypeID">Tranaction Type ID</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Tranaction Type must be a number." id="TranactionTypeID" name="TranactionTypeID" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="TranactionTypeID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Fax">Local Orintl</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="LocalOrintl" name="LocalOrintl" type="text" value="" maxlength="1">
                    <span class="field-validation-valid text-danger" data-valmsg-for="LocalOrintl" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Phone">Phone</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Phone" name="Phone" type="text" value="" maxlength="60">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Adress">Fax</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Fax" name="Fax " type="text" value="" maxlength="20">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Fax" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Adress">Address</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Adress" name="Adress" type="text" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Adress" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Adress">Required Approval</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="RequiredApproval" name="RequiredApproval" type="text" value="" maxlength="1">
                    <span class="field-validation-valid text-danger" data-valmsg-for="RequiredApproval" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Adress">Direct Exchange</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="DirectExchange" name="DirectExchange" type="text" value="" maxlength="150">
                    <span class="field-validation-valid text-danger" data-valmsg-for="DirectExchange" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Adress">Freez Area</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="FreezArea" name="FreezArea" type="text" value="" maxlength="1">
                    <span class="field-validation-valid text-danger" data-valmsg-for="FreezArea" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Notes" name="Notes" type="text" value="" maxlength="200">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnAgentAreaSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnAgentAreaEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnAgentAreaReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnAgentAreaClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>

<div id="dlg"></div>

<script src="@Url.Content("~/Scripts/App/AgentArea.js")"></script>