﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="agentForm">
    <div class="card" style="margin:2%">      
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Agent Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/AgentDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Agent Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="AgentNo">Agent Number</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Agent Number must be a number." data-val-required="The Required field is empty" id="AgentNo" name="AgentNo" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="AgentNo" data-valmsg-replace="true"></span>
                </div>
             
                <div class="col-md-2">
                    <label for="AgentName">Agent Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="AgentName" name="AgentName" type="text" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="AgentName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="AccountID">Account ID</label>
                </div>
                <div class="col-md-4">
                    <select id="AccountID" data-val="true" data-val-maxlength="Please select Account" name="AccountID" data-val-required="The Required field is empty"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="AccountID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="EnglishName">English Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="EnglishName" name="EnglishName" type="text" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="EnglishName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Phone">Phone</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Phone" name="Phone" type="text" value=""  maxlength="20">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Fax">Fax</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Fax" name="Fax" type="text" value="" maxlength="20">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Fax" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Adress">Address</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Adress" name="Adress" type="text" value="" maxlength="150">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Adress" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Notes" name="Notes" type="text" value="" maxlength="200">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnAgentSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnAgentEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnAgentReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnAgentClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>

<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/agent.js")"></script>