﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="agentUserForm">
    <div class="card" style="margin:2%">
       
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Agent User Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/AgentUserDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Agent User Details</a>
        </div>
        <div class="card-body">
            <div class="row">               
                <div class="col-md-2">
                    <label for="AgentID">Agent ID</label>
                </div>
                <div class="col-md-4">
                    <select id="AgentID" data-val="true" data-val-maxlength="Please select role" name="AgentID" data-val-required="The Required field is empty"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="AgentID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="UserName">User Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="UserName" name="UserName" type="text" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">                
                <div class="col-md-2">
                    <label for="Adress">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" id="Notes" name="Notes" type="text" value="" maxlength="200">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnAgentUserSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnAgentUserEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnAgentUserReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnAgentUserClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>
<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/agentUser.js")"></script>