﻿
@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="agentAreaDetailsForm">
    <div class="card" style="margin:1%" onload="onRegistrationFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-users"></i>   Agent Area Details
            <a style="text-decoration: underline;color:Blue" class="right" href='@Url.Content("~/Master/AgentAreaIndex")'><i style="color: black;margin-right: 4px;font-size: 20px;" class="fa fa-user-plus"></i>Add Agent Area</a>
        </div>
        <div class="card-body">
            <div style="border: 1px solid black; padding: 3px;">
                <table id="datatable" class="table table-striped table-bordered table-font-size-12" style="width: 100%">
                    <thead style="color: white" class="bg-primary">
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Area No</th>
                            <th>Area Name</th>
                            <th>Agent</th>
                            <th>City</th>
                            <th>Tranaction Type ID</th>
                            <th>Local Orintl</th>
                            <th>Phone</th>
                            <th>Fax</th>
                            <th>Address</th>
                            <th>Required Approval</th>
                            <th>Direct Exchange</th>
                            <th>Freez Area</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard'
                },
                'excel',
                'pdf'
            ],
            columns: [
                {
                    "data": "AgentAreaID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a style="font-size:20px;padding:16px" href="@Url.Content("~/Master/AgentAreaIndex?agentAreaId=")' + data + '"><i style="font-size:20px" class="fa fa-edit"></a>'; //' + data + '
                        }
                        return data;
                    }
                },
                {
                    "data": "AgentAreaID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a id="btnAgnetDelete" style="font-size:20px; padding:16px"><i class="fa fa-trash" onclick="onDelete(' + data +')"></a>'; //' + data + '
                        }

                        return data;
                    }
                },
                { 'data': 'AreaNo' },
                { 'data': 'AreaName' },
                { 'data': 'AgentName' },
                { 'data': 'CityName' },
                { 'data': 'TranactionTypeID' },
                { 'data': 'LocalOrintl' },
                { 'data': 'Phone' },
                { 'data': 'Fax' },
                { 'data': 'Adress' },
                { 'data': 'RequiredApproval' },
                { 'data': 'DirectExchange' },
                { 'data': 'FreezArea' },
                { 'data': 'Notes' }

            ],

            select: true,
            "language": {
                "emptyTable": "There are no records at present.",
                "zeroRecords": "There were no matching records found."
            },
            "searching": false,
            "ordering": true,
            "processing": true,
            "serverSide": false,
            ajax: {
                url: baseAddressEndPoint() + '/api/agentAreaapi/get', dataSrc: '', "headers": {
                    "Authorization": 'bearer' + ' ' + sessionStorage["accessToken"]
                }
            }
        });

        $('#datatable_length').hide();
        $('#btnAgentAreaDelete').click(agentAreaDelete);
    });
    function onDelete(id) {
        var r = confirm("Are you sure want to delete!");
        if (r == true) {
            var onDeleteCallBack = jqxhr('delete', 'api/agentareaapi/delete?id=' + id);
            onDeleteCallBack.done(function (response) {
                alert('Deleted Successfully');
                window.location.reload();
            });
        } else {

        }
    }
</script>
