﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="agentGroupForm">
    <div class="card" style="margin:2%">       
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Agent Group Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/AgentGroupDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Agent Group Details</a>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-2">
                    <label for="AgentID">Agent ID</label>
                </div>
                <div class="col-md-4">
                    <select id="AgentID" data-val="true" data-val-maxlength="Please select role" name="AgentID" data-val-required="The Required field is empty"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="AgentID" data-valmsg-replace="true"></span>
                </div>

                <div class="col-md-2">
                    <label for="GroupID">Group ID</label>
                </div>
                <div class="col-md-4">
                    <select id="GroupID" data-val="true" data-val-maxlength="Please select Group" name="GroupID" data-val-required="The Required field is empty"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="GroupID" data-valmsg-replace="true"></span>
                </div>
            </div>            
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnAgentGroupSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnAgentGroupEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnAgentGroupReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnAgentGroupClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>
<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/agentGroup.js")"></script>