﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="branchGroupForm">
    <div class="card" style="margin:2%">     
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Branch Group Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/BranchGroupDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Branch Group Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="BranchID">Branch ID</label>
                </div>
                <div class="col-md-4">
                    <select id="BranchID" data-val="true" data-val-maxlength="Please select role" name="BranchID" data-val-required="The Required field is empty" type="text"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="BranchID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="GroupID">GroupID</label>
                </div>
                <div class="col-md-4">
                    <select id="GroupID" data-val="true" data-val-maxlength="Please select Group" data-val-required="The Required field is empty" name="GroupID"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="GroupID" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnBranchGroupSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnBranchGroupEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnBranchGroupReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnBranchGroupClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>
<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/branchGroup.js")"></script>