﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="branchForm">
    <div class="card" style="margin:2%">      
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Branch Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/BranchDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Branch Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="BranchName">Branch Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="BranchName" name="BranchName" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="BranchName" data-valmsg-replace="true"></span>
                </div>  
                <div class="col-md-2">
                    <label for="Address">Address</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Address" name="Address" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="Phone">Phone</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Phone" name="Phone" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Fax">Fax</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Fax" name="Fax" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Fax" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="BranchType">Branch Type</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Branch Type must be a number." id="BranchType" name="BranchType" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="BranchType" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnBranchSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnBranchEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnBranchReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnBranchClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>

<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/branches.js")"></script>