﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="groupDetailsForm">
    <div class="card" style="margin:1%" onload="onRegistrationFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-users"></i> Group Details
            <a style="text-decoration: underline;color:Blue" class="right" href='@Url.Content("~/Master/GroupIndex")'><i style="color: black;margin-right: 4px;font-size: 20px;" class="fa fa-user-plus"></i>Add Group</a>
        </div>
        <div class="card-body">
            <div style="border: 1px solid black; padding: 3px;">
                <table id="datatable" class="table table-striped table-bordered table-font-size-12" style="width: 100%">
                    <thead style="color: white" class="bg-primary">
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Group ID</th>
                            <th>Group Type</th>
                            <th>Group Name</th>
                            <th>Notes</th>
                        </tr>   
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard'
                },
                'excel',
                'pdf'
            ],
            columns: [
                {
                    "data": "GroupID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a style="font-size:20px;padding:16px" href="@Url.Content("~/Master/GroupIndex?groupId=")' + data + '"><i style="font-size:20px" class="fa fa-edit"></a>'; //' + data + '
                        }
                        return data;
                    }
                },
                {
                    "data": "GroupID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a id="btnGroupDelete" style="font-size:20px; padding:16px"><i class="fa fa-trash" onclick="onDelete(' + data + ')"></a>'; //' + data + '
                        }

                        return data;
                    }
                },
                { 'data': 'GroupID' },
                { 'data': 'GroupTypeName' },
                { 'data': 'GroupName' },
                 { 'data': 'Notes' }
            ],

            select: true,
            "language": {
                "emptyTable": "There are no records at present.",
                "zeroRecords": "There were no matching records found."
            },
            "searching": false,
            "ordering": true,
            "processing": true,
            "serverSide": false,
            ajax: {
                url: baseAddressEndPoint() + '/api/groupapi/get', dataSrc: '', "headers": {
                    "Authorization": 'bearer' + ' ' + sessionStorage["accessToken"]
                }
            }
        });

        $('#datatable_length').hide();
        $('#btnGroupDelete').click(groupDelete);
    });
    function onDelete(id) {
        var r = confirm("Are you sure want to delete!");
        if (r == true) {
            var onDeleteCallBack = jqxhr('delete', 'api/groupapi/delete?id=' + id);
            onDeleteCallBack.done(function (response) {
                alert('Deleted Successfully');
                window.location.reload();
            });
        } else {

        }
    }
</script>


