﻿
@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="groupTypeForm">
    <div class="card" style="margin:2%">    
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Group Type Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/GroupTypeDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>GroupType Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="GroupTypeName">Group Type Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Required field is empty" id="GroupTypeName" name="GroupTypeName" type="text" value="" maxlength="50">
                    <span class="field-validation-valid text-danger" data-valmsg-for="GroupTypeName" data-valmsg-replace="true"></span>
                </div>                
            </div>         
        </div>
        <div class="form-group">
            <div class="col-md-12">               
                <input type="button" id="btnGroupTypeSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnGroupTypeEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnGroupTypeReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnGroupTypeClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>
<div id="dlg"></div>
<script src="@Url.Content("~/Scripts/App/GroupType.js")"></script>