﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="groupForm">
    <div class="card" style="margin:2%">
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Group Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/GroupDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Group Group Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="GroupTypeID">Group Type ID</label>
                </div>
                <div class="col-md-4">
                    <select id="GroupTypeID" data-val="true" data-val-maxlength="Please select role" name="GroupTypeID" data-val-required="The Required field is empty" ></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="GroupTypeID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="GroupName">Group Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true"  id="GroupName" name="GroupName" type="text" data-val-required="The Required field is empty" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="GroupName" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true"  id="Notes" name="Notes" type="text" value="" maxlength="100">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>  
            </div>  
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnGroupSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnGroupEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnGroupReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnGroupClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>
<div id="dlg"></div>

<script src="@Url.Content("~/Scripts/App/Group.js")"></script>