﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="sandooqForm">
    <div class="card" style="margin:2%">
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   Sandooq  Information
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/Master/SandooqDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>Sandooq Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="AccountID">Account ID</label>
                </div>
                <div class="col-md-4">
                    <select id="AccountID" data-val-maxlength="Please select Account" name="AccountID" ></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="AccountID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="TransactionType">Transaction Type</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true"  id="TransactionType" name="TransactionType" type="text" value="" maxlength="50">
                    <span class="field-validation-valid text-danger" data-valmsg-for="TransactionType" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true"  id="Notes" name="Notes" type="text" value="" maxlength="200">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>              
            </div>            
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="button" id="btnSandooqSave" value="Save" class="btn btn-primary add-row mx-2" />
                <input type="button" id="btnSandooqEdit" value="Edit" class="btn btn-secondary add-row mx-2" />
                <input type="button" id="btnSandooqReset" value="Reset" class="btn btn-secondary add-row" />
                <input type="button" id="btnSandooqClose" value="Close" class="btn btn-secondary add-row" />
            </div>
        </div>
    </div>
</form>
<div id="dlg"></div>

<script src="@Url.Content("~/Scripts/App/Sandooq.js")"></script>