﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/aes.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <style>
        body {
            background: #eee !important;
        }

        .display-none {
            display: none;
        }

        .wrapper {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .form-signin {
            max-width: 380px;
            padding: 15px 35px 45px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 30px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="text"] {
                margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 20px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#spin').hide();
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#btnLogin').click(function () {
                var ipAddress = '';
                $.getJSON("https://jsonip.com?callback=?", function(data) {
                    ipAddress = data.ip;
                    var key = CryptoJS.enc.Utf8.parse('8080808080808080');
                    var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

                    var encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#UserName').val()), key,
                        {
                            keySize: 128 / 8,
                            iv: iv,
                            mode: CryptoJS.mode.CBC,
                            padding: CryptoJS.pad.Pkcs7
                        });
                    var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($('#Password').val()), key,
                        {
                            keySize: 128 / 8,
                            iv: iv,
                            mode: CryptoJS.mode.CBC,
                            padding: CryptoJS.pad.Pkcs7
                        });
                    $.ajax({
                        url: 'http://localhost:61693/token',
                        method: 'POST',
                        contentType: 'application/x-www-form-urlencoded',
                        data: {
                            username: encryptedlogin.toString(),
                            password: encryptedpassword.toString(),
                            ipAddress:ipAddress,
                            grant_type: 'password'
                        },
                        success: function (response) {
                            sessionStorage.setItem("accessToken", response.access_token);
                            window.location.href = '@Url.Content("~/Dashboard/Index")';
                        },
                        error: function (jqXHR) {
                            $('#divErrorText').text(jqXHR.responseText);
                            $('#divError').show('fade');
                        }
                    });
                });
            });
        });
    </script>

</head>
<body>
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" style="margin-bottom: 20px;" class="form-control" id="UserName" name="UserName" placeholder="User Name" required="" autofocus="" />
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required="" />
            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">
                Login
                @*<span id="spin" class="spinner-border spinner-border-sm display-none"></span>*@
            </button>
        </form>
    </div>
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" href="#" class="close">&times;</a>
        <div id="divErrorText"></div>
    </div>

</body>
</html>
