﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="registrationForm">
    <div class="card" style="margin:1%" onload="onRegistrationFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-address-book"></i>   User Registration
            <a style="text-decoration: underline;color:black" class="right" href='@Url.Content("~/login/UserDetails")'><i class="fa external-link-alt fa-angle-double-right"></i>User Details</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="UserNo">User Number</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field UserID must be a number." data-val-required="The User Id field is required." id="UserNo" name="UserNo" type="number" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="UserNo" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="UserName">User Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" data-val="true" data-val-required="The User Name field is required." id="UserName" name="UserName" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="UserID" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="PassWord">Password</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" data-val="true" data-val-required="The password field is required." id="PassWord" name="PassWord" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="PassWord" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="DefaultBranchID">Branch</label>
                </div>
                <div class="col-md-4">
                    <select id="DefaultBranchID" data-val-maxlength="Please select branch" name="DefaultBranchID"></select>
                        @*<input class="form-control" data-val="true" data-val-number="The field Branch Id must be a number." data-val-required="The Branch Id field is required." id="DefaultBranchID" name="DefaultBranchID" type="number" value="">*@
                        <span class="field-validation-valid text-danger" data-valmsg-for="DefaultBranchID" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="UserRole">Role</label>
                </div>
                <div class="col-md-4">
                    <select id="UserRole" data-val-maxlength="Please select role" maxlength="1" name="UserRole">
                    </select>
                    @*<input class="form-control" id="UserRole" data-val-maxlength="The field should be maximum 1 character" maxlength="1" name="BlockedStatus" type="text" value="" placeholder="Active(A)/Deactive(D)">*@
                    <span class="field-validation-valid text-danger" data-valmsg-for="UserRole" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="ChangePasswordDays">Change Password Days</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" data-val="true" data-val-number="The field Change Password Days must be a number." data-val-required="The Change Password Days field is required." id="ChangePasswordDays" name="ChangePasswordDays" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="ChangePasswordDays" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="ChangePasswordDt">Change Password Date</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field Password Date must be a date." data-val-required="The Password Date field is required." id="ChangePasswordDt" name="ChangePasswordDt" type="text" value="" placeholder="MM/DD/YYYY">
                    @*<span class="fa fa-calendar"></span>*@
                    <span class="field-validation-valid text-danger" data-valmsg-for="ChangePasswordDt" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Title">Title</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id="Title" name="Title" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="Salary">Salary</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" data-val="true" data-val-number="The field Salary must be a number." id="Salary" name="Salary" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Salary" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id="Notes" name="Notes" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="BlockedStatus">Blocked Status</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id="BlockedStatus" data-val-maxlength="The field should be maximum 1 character" maxlength="1" name="BlockedStatus" type="text" value="" placeholder="Active(A)/Deactive(D)">
                    <span class="field-validation-valid text-danger" data-valmsg-for="BlockedStatus" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @*<span class="spinner-border spinner-border-sm"></span>*@
                <button type="button" value="" id="btnRegister" class="btn btn-primary float-right">
                    <i class="fa fa-save"> Register</i>
                </button>
                <button type="button" value="" id="btnUserEdit" class="btn btn-primary float-right">
                    <i class="fa fa-edit"> Edit</i>
                </button>
            </div>
        </div>
    </div>
</form>

<div id="dlg"></div>