﻿    @*<div class="row mb-4">
        <div class="form-group col-md-6">
            <label class="col-md-3" for="one">One : </label>
            <input class="col-md-8" type="text" class="form-control" id="one" name="one">
        </div>

        <div class="form-group col-md-6">
            <label class="col-md-3" for="one">One : </label>
            <input class="col-md-8" type="text" class="form-control" id="one" name="one">
        </div>
    </div>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <label class="col-md-3" for="one">One : </label>
            <input class="col-md-8" type="text" class="form-control" id="one" name="one">
        </div>
        <div class="col-md-6 col-sm-6">
            <label class="col-md-3" for="one">One : </label>
            <input class="col-md-8" type="text" class="form-control" id="one" name="one">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <label class="col-md-3" for="one">One : </label>
            <input class="col-md-8" type="text" class="form-control" id="one" name="one">
        </div>
        <div class="col-md-6 col-sm-6">
            <label class="col-md-3" for="one">One : </label>
            <input class="col-md-8" type="text" class="form-control" id="one" name="one">
        </div>
    </div>
</div>


<form id="accountForm">
    <div class="card" style="margin:2%" onload="onAccountFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-key"></i>   Account Information
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="AccountNo">Account Number</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Account Number must be a number." data-val-required="The Required field is empty" id="AccountNo" name="AccountNo" type="number" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="AccountNo" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="ClientID">Client Name</label>
                </div>
                <div class="col-md-4">
                    <select id="ClientID" data-val-maxlength="Please select role" name="ClientID"></select>
                    @*<input class="form-control text-box single-line" data-val="true" data-val-number="The field Client Name must be a number." data-val-required="The Required field is empty" id="ClientID" name="ClientID" type="number" value="">*@
                    <span class="field-validation-valid text-danger" data-valmsg-for="ClientID" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="OpenDt">Open Date</label>
                </div>
                <div class="col-md-4">
                    <input placeholder="MM/dd/yyyy" class="form-control text-box single-line" data-val="true" data-val-date="The field Open Date must be a date." data-val-required="The Required field is empty" id="OpenDt" name="OpenDt" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="OpenDt" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="VIPNo">VIP Number</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field VIP Number must be a number." id="VIPNo" name="VIPNo" type="number" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="VIPNo" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="BeneficiaryID">Beneficiary Name</label>
                </div>
                <div class="col-md-4">
                    <select id="BeneficiaryID" data-val-maxlength="Please select role" name="BeneficiaryID"></select>
                    @*<input class="form-control text-box single-line" data-val="true" data-val-number="The field Beneficiary Name must be a number." id="BeneficiaryID" name="BeneficiaryID" type="number" value="">*@
                    <span class="field-validation-valid text-danger" data-valmsg-for="BeneficiaryID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="AuthorizedID">Authorized</label>
                </div>
                <div class="col-md-4">
                    <select id="AuthorizedID" data-val-maxlength="Please select role" name="AuthorizedID"></select>
                    @*<input class="form-control text-box single-line" data-val="true" data-val-number="The field Authorized must be a number." id="AuthorizedID" name="AuthorizedID" type="number" value="">*@
                    <span class="field-validation-valid text-danger" data-valmsg-for="AuthorizedID" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="BranchID">Branch</label>
                </div>
                <div class="col-md-4">
                    <select id="BranchID" data-val-maxlength="Please select role" name="BranchID"></select>
                    @*<input class="form-control text-box single-line" data-val="true" data-val-number="The field Branch must be a number." data-val-required="The Required field is empty" id="BranchID" name="BranchID" type="number" value="">*@
                    <span class="field-validation-valid text-danger" data-valmsg-for="BranchID" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-2">
                    <label for="Notes">Notes</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-box single-line" id="Notes" name="Notes" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Notes" data-valmsg-replace="true"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <label for="CloseDt">Close Date</label>
                </div>
                <div class="col-md-4">
                    <input placeholder="MM/dd/yyyy" class="form-control text-box single-line" data-val="true" data-val-date="The field Close Date must be a date." id="CloseDt" name="CloseDt" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="CloseDt" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @*<span class="spinner-border spinner-border-sm"></span>*@
                <input type="button" value="Submit" id="btnAccountSubmit" class="btn btn-primary float-right" />
            </div>
        </div>
    </div>
</form>

