﻿@{
    ViewBag.Title = "LeftPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="userDetailsForm">
    <div class="card" style="margin:1%" onload="onRegistrationFormLoad()">
        <div class="card-header bg-warning">
            <i class="fa fa-users"></i>   User Details
            <a style="text-decoration: underline;color:Blue" class="right" href='@Url.Content("~/login/Registration")'><i style="color: black;margin-right: 4px;font-size: 20px;" class="fa fa-user-plus"></i>Add User</a>
        </div>
        <div class="card-body">
            <div style="border: 1px solid black; padding: 3px;">
                <table id="datatable" class="table table-striped table-bordered table-font-size-12" style="width: 100%">
                    <thead style="color: white" class="bg-primary">
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            @*<th>UserID</th>*@
                            <th>Number</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>Branch</th>
                            <th>Blocked Status</th>
                            <th>Change Password Days</th>
                            <th>Change Password Date</th>
                            <th>Title</th>
                            <th>Salary</th>
                            <th>Notes</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        bindDataTable();
    });

    function bindDataTable() {
                $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard'
                },
                'excel',
                'pdf'
            ],
            columns: [
                //{ 'data': 'UserID', 'visible': false },
                {
                    "data": "UserID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a style="font-size:20px;padding:16px" href="@Url.Content("~/login/Registration?userId=")' + data + '"><i style="font-size:20px" class="fa fa-edit"></a>'; //' + data + '
                        }

                        return data;
                    }
                },
                {
                    "data": "UserID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a id="btnUserDelete" style="font-size:20px; padding:16px"><i class="fa fa-trash" onclick=" (' + data +')"></a>'; //' + data + '
                        }

                        return data;
                    }
                },
                { 'data': 'UserNo' },
                { 'data': 'UserName' },
                { 'data': 'PassWord' },
                { 'data': 'UserRole' },
                { 'data': 'DefaultBranchID' },
                { 'data': 'BlockedStatus' },
                { 'data': 'ChangePasswordDays' },
                {
                    'data': 'ChangePasswordDt',
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        // MM/dd/yyyy
                        return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                    }
                },
                { 'data': 'Title' },
                { 'data': 'Salary' },
                { 'data': 'Notes' }

                //,{ 'data': '<button id=userEdit>Click!</button>'}
            ],
            //"columnDefs": [ {
            //    "targets": -1,
            //    "data": null,
            //    "defaultContent": "<button id=userEdit>Click!</button>"
            //} ],
            select: true,
            "language": {
                "emptyTable": "There are no records at present.",
                "zeroRecords": "There were no matching records found."
            },
            "searching": false,
            "ordering": true,
            //"paging": true,
            "processing": true,
            "serverSide": false,
            ajax: {
                url: baseAddressEndPoint() + '/api/userapi/get', dataSrc: '', "headers": {
                    "Authorization": 'bearer' + ' ' + sessionStorage["accessToken"]
                }
            }
        });

        $('#datatable_length').hide();
    };


    function onDelete(id) {
        var r = confirm("Are you sure want to delete!");
        if (r == true) {
            var onDeleteCallBack = jqxhr('delete', 'api/userapi/delete?id=' + id);
            onDeleteCallBack.done(function (response) {
                alert('Deleted Successfully');
                //document.location.reload();
                window.location.reload();
            });
        } else {

        }
    }
</script>
