﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Bannking Application</title>

    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">*@

    @Styles.Render("~/Content/css")
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.bootstrap4.min.css" />*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

@*<div id="loader" class="loader" style="display: none"></div>*@

<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    Loading...
</div>

@Html.Partial("_LeftPaneMenu")
    @RenderBody()


    @*<div style="margin-left: 10px">
            <div class="form-row">
                <div class="col-2">
                    @Html.Partial("_LeftPaneMenu")
                </div>
                <div class="col-md-10">
                    <div class="form-row col-md-12 bg-primary">
                        <div class="col-md-12" style="text-align: right">
                            <span style="color: yellow">Hi Abdul!</span>
                            <i class="fa fa-4x fa-user-circle bg-primary" style="color: lightgray;"></i>
                        </div>
                    </div>
                    @RenderBody()
                </div>
                <hr/>
            </div>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
        <script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
        <script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/editor.bootstrap4.min.js"></script>*@


    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script>
    
    $(window).bind("ajaxStart", function () {
       // $('#loader').show();
        $('#overlay').fadeIn().delay(2000);

    }).bind("ajaxStop", function () {
        //$('#loader').hide();
        $('#overlay').fadeOut();
    });
</script>

    @RenderSection("scripts", required: false)

</body>
</html>
