﻿@using System.Security.Claims
@using CoreBankingSystem.UI.Extensions;
@using Microsoft.AspNet.Identity;

@{
    var identity = HttpContext.Current.User.Identity as ClaimsIdentity;
    //identity.HasClaim("", "");
}

@{
    ViewBag.Title = "LeftPanel";
    Layout = null;
}

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<style>
    body {
        padding-top: 1em;
    }

    #contextMenu {
        position: absolute;
        display: none;
    }
</style> <div class="container-fluid">
    <script>
        // Initialize tooltip component
        $(function () {

            $('[data-toggle="tooltip"]').tooltip();
        });

        // Initialize popover component
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

// ash start js
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass("show");
            });


            return false;
        });
// ash end js


    </script>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">
            @if (User.Identity.GetRole().ToLower() == "admin" || User.Identity.GetRole() == "Branch Manager")
            {
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog margin-right-4"></i>Settings 
                        <i class="fa fa-caret-down margin-right-4"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="@Url.Content("~/login/Registration")"><i class="fa fa-pencil-square-o margin-right-4"></i>Registration</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/login/UserDetails")"><i class="fa fa-address-book-o margin-right-4"></i>UserDetails</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/login/UserDetails")"><i class="fa fa-handshake-o margin-right-4"></i>About</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-card margin-right-4"></i>Admin
                        <i class="fa fa-caret-down margin-right-4"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="@Url.Content("~/Client/ClientDetails")"><i class="fa fa-refresh margin-right-4"></i>Match Account Transactions</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-columns margin-right-4"></i>Gurd Sandooq </a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-check-square-o margin-right-4"></i>Agent Area Permissions</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-usd margin-right-4"></i>Commission Settings</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-user-times margin-right-4"></i>Black List</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-cc margin-right-4"></i>Cheque Books</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-clone margin-right-4"></i>Reasons Guide</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-users margin-right-4"></i>Groups Management</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-cogs margin-right-4"></i>Default Settings</a></li>
                        
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Master Pages</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Banch Details</a></li>
                                <li><a class="dropdown-item" href="#">Currency Details</a></li>
                            </ul>
                        </li>

                    </ul>

                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-file-excel-o margin-right-4"></i>Reports
                        <i class="fa fa-caret-down margin-right-4"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="@Url.Content("~/Account/AccountIndex")"><i class="fa fa-university margin-right-4"></i>Bank Reports</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-american-sign-language-interpreting margin-right-4"></i>Hawala Reports</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-money margin-right-4"></i>Currency Reports</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-usd margin-right-4"></i>Accounting Reports</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-building margin-right-4"></i>Central Bank Reports</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-money margin-right-4"></i> Currency
                        <i class="fa fa-caret-down margin-right-4"></i>
                        
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        @*    <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-linux margin-right-4"></i>Sell</a></li>*@
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-linux margin-right-4"></i>Sell </a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-circle-o-up margin-right-4"></i>Buy</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-home margin-right-4"></i>Sell From Account</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-linux margin-right-4"></i>Buy From Account</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-circle-o-up margin-right-4"></i>Sell Cash</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-home margin-right-4"></i>Buy Cash</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-american-sign-language-interpreting margin-right-4"></i> Hawala
                        <i class="fa fa-caret-down margin-right-4"></i>
                        
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-paper-plane margin-right-4"></i>Send Hawala</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-hand-lizard-o margin-right-4"></i>Receive Hawala</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-clipboard margin-right-4"></i>Manage Transaction</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown1" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-university margin-right-4"></i> Banking
                        <i class="fa fa-caret-down margin-right-4"></i>
                        
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="@Url.Content("~/Account/AccountIndex")"><i class="fa fa-suitcase margin-right-4"></i>Accounts</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-circle-down margin-right-4"></i>Deposit</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-share margin-right-4"></i>Withdrawal</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Currency/CurrencyDetails")"><i class="fa fa-retweet margin-right-4"></i>Transfer Funds</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchGroupDetails")"><i class="fa fa-linux margin-right-4"></i>Branches Group</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-circle-o-up margin-right-4"></i>Country</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-home margin-right-4"></i>Currency</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/GroupTypeDetails")"><i class="fa fa-linux margin-right-4"></i>Group Type</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/GroupDetails")"><i class="fa fa-linux margin-right-4"></i>Group</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchDetails")"><i class="fa fa-linux margin-right-4"></i>Branches</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/BranchGroupDetails")"><i class="fa fa-linux margin-right-4"></i>Branches Group</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/AgentDetails")"><i class="fa fa-linux margin-right-4"></i>Agent</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/AgentGroupDetails")"><i class="fa fa-linux margin-right-4"></i>Agent Group</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/AgentUserDetails")"><i class="fa fa-linux margin-right-4"></i>Agent User</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/AgentAreaDetails")"><i class="fa fa-linux margin-right-4"></i>Agent Area</a></li>
                        <li><a class="dropdown-item" href="@Url.Content("~/Master/SandooqDetails")"><i class="fa fa-linux margin-right-4"></i>Sandooq</a></li>
                    </ul>
                </li> 
            </ul>
            }
            <div class="d-flex justify-content-end p-1 flex-grow-1">
                <h6 class="d-flex align-items-center mb-0" style="color: yellow;margin-right: 0px;">@Context.User.Identity.GetUserName()</h6>
                @*<i id="userIcon" style="color: white;" class="fa fa-3x fa-user-circle bg-primary">
                    </i>*@
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i id="userIcon" style="color: white;" class="fa fa-1x fa-user-circle bg-primary">
                        </i>
                    </button>
                    <div class="dropdown-menu" style="left:-80px">
                        <a class="dropdown-item" href="@Url.Content("~/Dashboard/UserProfile")"><i class="fa fa-user-o"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-key"></i>Change Password</a>
                        <a id="btnLogout" class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
